<div class="main-footer-container">
  <div class="top-footer">
    <div class="first-footer-sec">
          <div class="logo white">
            <span class="bold">EX</span>
            <span class="bold">ZO</span>
          </div>
          <div class="content">
            <p>A decoration is a type of item used to decorate the various rooms or spaces. 
              The decorative items involve arts or crafts concerned with the design.</p>
          </div>
          <div class="links">
            <div class="contact">
              <img class="light-green" src="assets/icons8-phone-32.png" alt="">
              <span>Contact us +923232627920</span>
            </div>
            <div class="address">
              <img class="light-green" src="assets/icons8-location-32.png" alt="">
              <span>Address Gulshan e iqbal block 7</span>
            </div>
            <div class="email">
              <img class="light-green" src="assets/icons8-email-24.png" alt="">
              <span>Email us sharozekkhangmail.com</span>
            </div>
          </div>
    </div>
    <div class="second-footer-sec">
      <h2>QUICK LINKS</h2>
      <ul>
        <li>HOME</li>
        <li>ABOUT US</li>
        <li>PRODUCTS</li>
        <li>SERVICE</li>
        <li>BLOG</li>
        <li>GALLERY</li>
        <li>CONTACT</li>
      </ul>
    </div>
    <div class="third-footer-sec">
      <ul>
        <li>ACCESORIES</li>
        <li>HEAD PHONES</li>
        <li>LAPTOPS</li>
        <li>SMARTWATCHES</li>
        <li>GADGET</li>
        <li>SMART MOBILES</li>
        <li>USB</li>
      </ul>
    </div>
    <div class="fourth-footer-sec">
      <h2>SOME POSTS</h2>
      <div class="context">
        <div class="img-section">
          <img src="assets/apple-airpods.webp" alt="">
        </div>
        <div class="desp white">
          <b>NOV 28, 2022</b>
          <p>A decoration is a type of item used to decorate the various rooms or spaces</p>
        </div>
      </div>
      <div class="context">
        <div class="img-section">
          <img src="assets/images.jpeg" alt="">
        </div>
        <div class="desp white">
          <b>NOV 28, 2022</b>
          <p>A decoration is a type of item used to decorate the various rooms or spaces.</p>
        </div>
      </div>
      <div class="context">
        <div class="img-section">
          <img src="assets/lapto.jpg" alt="">
        </div>
        <div class="desp white">
          <b>NOV 28, 2022</b>
          <p>A decoration is a type of item used to decorate the various rooms or spaces.</p>
        </div>
      </div>
    </div>
    <div class="fifth-footer-sec">
      <h2>POPULAR TAGS</h2>
      <div class="first white">
        <span>HOME</span>
        <span>ABOUT US</span>
        <span>PRODUCTS</span>
      </div>
      <div class="white">
        <span>BLOG</span>
        <span>SERVICES</span>
        <span>GALLERY</span>
        <span>CONTACT</span>
      </div>
    </div>
  </div>
  <div class="bottom-footer">

  </div>
</div>
