<h2 mat-dialog-title>Add New Product</h2>
<form action="">
    <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="Enter product name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Enter price">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter description">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ratings</mat-label>
        <input matInput placeholder="Enter ratings">
      </mat-form-field>
</form>
<mat-dialog-actions style="display: flex; justify-content: end;">
  <button mat-button mat-dialog-close style="background-color: rgb(110, 106, 100); color: white;">Close</button>
  <button mat-button mat-dialog-close style="background-color: #b1cd02; color: white;">Save</button>
</mat-dialog-actions>

