<!-- before login or signup  -->
<div *ngIf="isUserLoggedIn.status !== null">
  <div class="main-container" *ngIf="isUserLoggedIn.status === 'logout'">
    <div class="left-section">
      <div class="top-nav-padding border">
        <span class="bold">CONTACT US</span>
        <span class="grey-font-size">+3467913411</span>
      </div>
      <div class="top-nav-padding border">
        <span class="bold">EMAIL</span>
        <span class="grey-font-size">exzogmail.com</span>
      </div>
    </div>
    <div class="right-section">
      <div class="top-nav-padding border">
        <span class="bold" (click)="login()">LOGIN</span>
        <b class="or">OR</b>
        <span class="bold" (click)="register()">REGISTER</span>
      </div>
      <div class="like-icon top-nav-padding border" (click)="isLiked=!isLiked">
        <img src="assets/like.png" alt="" [ngClass]="{'light-green': isLiked === true}">
      </div>
      <div class="refresh-icon top-nav-padding border" (click)="refreshComponent()">
        <img src="assets/refresh.png" alt="">
      </div>
    </div>
  </div>

  <!-- AFTER LOGIN -->
  <div class="main-container" *ngIf="isUserLoggedIn.status === 'login' && userData">
    <div class="left-section">
      <div class="top-nav-padding border">
        <span class="bold">USER</span>
        <span class="grey-font-size" *ngIf="userData">{{userData?.firstName + ' ' +userData?.lastName}}</span>
      </div>
      <div class="top-nav-padding border">
        <span class="bold">EMAIL</span>
        <span class="grey-font-size" *ngIf="userData">{{userData?.email}}</span>
      </div>
    </div>
    <div class="right-section">
      <div class="country top-nav-padding">
        <!-- <img src="assets/united-states.png" alt="">
        <span class="bold">USD</span> -->
        <mat-select-country appearance="outline" [label]="'Select a country'"
          (onCountrySelected)="onCountrySelected($event)" [countries]="predefinedCountries">
        </mat-select-country>

      </div>
      <div class="like-icon top-nav-padding border" (click)="isLiked=!isLiked">
        <img src="assets/like.png" alt="" [ngClass]="{'light-green': isLiked === true}">
      </div>
      <div class="refresh-icon top-nav-padding border" (click)="refreshComponent()">
        <img src="assets/refresh.png" alt="">
      </div>
      <div class="my-card cart top-nav-padding border" (click)="showAddToCartItems()">
        <span class="bold">MY CART</span>
        <mat-icon class="cursor-pointer" [matBadge]=currentCount matBadgeColor="warn"
          aria-hidden="false">add_shopping_cart</mat-icon>
      </div>
    </div>
    <div class="logout-btn">
      <button (click)="logout()">LOGOUT</button>
    </div>
  </div>
</div>
<div *ngIf="isUserLoggedIn.status === null">
  <!-- Optional: Show a loading spinner or placeholder while determining login status -->
  <p>Loading...</p>
</div>