<div class="main-container">
      <div class="heading">
        <span class="grey-font-size">OUR BLOG</span>
        <h1>LATEST POSTS</h1>
      </div>
      <div class="images-section">
        <div class="first img-width">
          <img src="assets/tech.png" alt="" width="50" height="50">
          <h2>Photos that are meant by the beautifulness of that product</h2>
          <div class="mid">
            <span class="grey-font-size">23/7/23</span>
            <b class="light-green">+923232627920</b>
          </div>
          <p class="grey-font-size">A decoration is a type of item used to decorate the various rooms or spaces. 
            The decorative items involve arts or crafts concerned with the design.</p>
        </div>
        <div class="second img-width">
          <img src="assets/macstore.png" alt="" width="50" height="50">
          <h2>Photos that are meant by the beautifulness of that product</h2>
          <div class="mid">
            <span class="grey-font-size">23/7/23</span>
            <b class="light-green">+923232627920</b>
          </div>
          <p class="grey-font-size">A decoration is a type of item used to decorate the various rooms or spaces. 
            The decorative items involve arts or crafts concerned with the design.</p>
        </div>
        <div class="thid img-width">
          <img src="assets/bluetech.jpg" alt="" width="50" height="50">
          <h2 >Photos that are meant by the beautifulness of that product</h2>
          <div class="mid">
            <span class="grey-font-size">23/7/23</span>
            <b class="light-green">+923232627920</b>
          </div>
          <p class="grey-font-size">A decoration is a type of item used to decorate the various rooms or spaces. 
            The decorative items involve arts or crafts concerned with the design.</p>
        </div>
      </div>
</div>
