<div class="main-container">
  <div class="heading">
    <span class="grey-font-size">POPULAR PRODUCTS</span>
    <h1>ONLY BEST PRODUCTS</h1>
  </div>
  <div class="products-container">
    <div class="categories-imgs">
      <div class="view-products border" *ngFor="let product of viewProducts">
         <img [src]="product.imageUrl">
         <h3 class="bold">{{product?.productName}}</h3>
         <!-- ratings -->
         <div class="star-rating-container star-rating-animation" fxLayout="row" fxLayoutAlign="start center" >
           <div *ngFor="let star of product.stars" [ngClass]="[star.class]" (click)="selectStar(star.id, product)">
               <mat-icon>{{star.icon}}</mat-icon>
           </div>
         </div>
         <p class="grey-font-size">{{product.description}}</p>
         <span>{{product.price}}</span>
         <div class="view-categories-btn" *ngIf="isPopup">
          <button class="white" (click)="addProductToCart()">ADD TO CART</button>
        </div>
      </div>
     </div>
  </div>
  <div class="view-categories-btn" *ngIf="!isPopup">
    <button class="white" (click)="allCategories()">VIEW ALL CATEGORIES</button>
  </div>
</div>