<div class="main-container">
  <div class="offer-container">
    <div class="heading">
      <span class="grey-font-size">HOT OFFER</span>
      <h1>ONLY TWO DAYS</h1>
      <p>The offer is only valid for two days , make sure to avail this offer at your earliest.
        This has been our most bestest offer for the coming month <br/>
        The offer is only valid for two days.
      </p>
    </div>
    <div class="offer-box">
      <span>-30% OFF</span>
      <div class="submit">
        <input type="text" placeholder="Your email">
        <button>Submit</button>
      </div>
    </div>
  </div>
</div>
