<div *ngIf="authChecked">
  <app-top-navbar [isUserLoggedIn]="isUserLoggedIn" [userData]="userData"></app-top-navbar>
</div>
<app-navbar></app-navbar>
<div style="position: relative;">
  <div class="spinner" *ngIf="getDashboardDataSuccess" style="position: absolute; display: flex; justify-content: center; align-items: center; width: 100%;z-index: 1; height: 100vh;">
    <mat-spinner [diameter]="70"></mat-spinner>
  </div>
  <app-main-slider-img [viewProducts]="viewProducts" id="mainSliderImg"></app-main-slider-img>
</div>
<app-categories [productListing]="productListing" id="categories"></app-categories>
<app-collections id="collections"></app-collections>
<app-best-products [productListing]="productListing" [viewProducts]="viewProducts" id="bestProducts"></app-best-products>
<app-hot-offer id="hotOffer"></app-hot-offer>
<app-main-slider-img variant="second" id="main-slider-img-second"></app-main-slider-img>
<app-overall-categories id="overall-categories"></app-overall-categories>
<app-latest-blogs id="blogs"></app-latest-blogs>
<app-footer id="footer"></app-footer>
