<h2 mat-dialog-title>ITEMS IN THE CART</h2>
<div class="container">
  <div class="cart-price">
    <div class="cart-icon-text">
      <img src="../../assets/icons8-cart-30.png" alt="" height="23" width="23">
      <span> Your Cart</span>
    </div>
    <div class="price">
      <span>{{'$110.00'}}</span>
    </div>
  </div>
  <div class="cart-items-section" *ngFor="let item of cartItems">
    <div class="left-section">
      <div class="cart-img">
        <img [src]="item?.imageUrl" alt="" height="60" width="60">
      </div>
      <div class="title-price">
        <h3>{{item?.productName}}</h3>
        <span>{{item?.price + '$'}}</span>
      </div>
    </div>
    <div class="right-section">
      <span>{{item.quantity || '1'}}</span>
    </div>
  </div>
</div>
