<div class="main-container">
    <header>
        <div class="title">
            <span class="green">E</span>XZO <span class="green">A</span>DMIN <span class="green">P</span>ANEL
        </div>
        <div class="avatar">
            <img src="../../assets/ringing.png" alt="" height="30" width="30">
            <img src="../../assets/user.png" alt="" height="30" width="30">
        </div>
    </header>
    <div class="overview">
        <div class="stats">
            <div class="total-products">
                <div class="icon">

                </div>
                <div class="description">
                    <h3>Total Products</h3>
                    <span>10</span>
                </div>
            </div>
            <div class="out-of-stock">
                <div class="icon">

                </div>
                <div class="description">
                    <h3>Out Of Stock Products</h3>
                    <span>10</span>
                </div>
            </div>
            <div class="newly-added">   
                <div class="icon">

                </div>
                <div class="description">
                    <h3>Newly Added Products</h3>
                    <span>10</span>
                </div>
            </div>
        </div>
    </div>
</div>
