.main-container{
    background: #c0c0c01f;
    height: 100vh;
   header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 10px;
    background-color: white;
    .title{
        font-size: 20px;
        font-weight: 500;
    }
    .avatar img{
        height: 24px;
        width: 24px;
        margin-right: 17px;
    }
   }
   .overview{
    .title{
        display: flex;
        justify-content: center;
        margin: 44px 0px;
    }
    .stats{
        display: flex;
        justify-content: space-evenly;
        .box{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 122px;
            width: 285px;
            border-radius: 5px;
            box-shadow: 0px 2px 3px 1px #c9baba;
            .icon{
                height: 65px;
                width: 65px;
                border-radius: 127px;
                border: 1px solid;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                img{
                    filter: invert(1);
                }
            }
        }
        .total-products{
            border-bottom: 3px solid #4cb34c;
            background: #afefaf;
            .icon{
                background: #4cb34c;
            }
        }
        .out-of-stock{
            border-bottom: 3px solid #ff617d;
            background: #ffced6;
            .icon{
                background-color: #ff617d;
            }
        }
        .newly-added{
            border-bottom: 3px solid #2c2c85d4;
            background: #cbe2f7;
            .icon{
                background-color: #2c2c85d4;
            }
        }
    }
   }
   .products-data{
    margin-top: 38px;
    mat-form-field{
        width: 100%;
        padding: 0px 5px;
    }
   }
}
.green{
    color: #b1cd02 
}

::ng-deep .mat-mdc-text-field-wrapper{
    border-bottom: 1px solid #179917
}