<div class="main-container" style="position: relative;">
    <header>
        <div class="title">
            <span class="green">E</span>XZO <span class="green">A</span>DMIN <span class="green">P</span>ANEL
        </div>
        <div class="avatar">
            <img src="../../assets/ringing.png" alt="" height="30" width="30">
            <img src="../../assets/user.png" alt="" height="30" width="30">
        </div>
    </header>
    <div class="overview">
        <div class="title">
            <h2>OVERVIEW OF PRODUCTS</h2>
        </div>
        <div class="stats">
            <div class="box total-products">
                <div class="icon">
                    <img src="../../assets/box.png" alt="" width="30" height="30">
                </div>
                <div class="description">
                    <h3>Total Products</h3>
                    <span>10</span>
                </div>
            </div>
            <div class="box out-of-stock">
                <div class="icon">
                    <img src="../../assets/out-of-stock.png" alt="" width="30" height="30">
                </div>
                <div class="description">
                    <h3>Out Of Stock Products</h3>
                    <span>100</span>
                </div>
            </div>
            <div class="box newly-added">
                <div class="icon">
                    <img src="../../assets/price-sticker.png" alt="" width="30" height="30">
                </div>
                <div class="description">
                    <h3>Newly Added Products</h3>
                    <span>10</span>
                </div>
            </div>
        </div>
    </div>

    <div class="products-data">
        <mat-form-field>
            <mat-label>Filter Products</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search your product here.." #input>
        </mat-form-field>

        <div class="add-product">
            <button (click)="openDialog()">
                Add New Product
            </button>
        </div>


        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let row"> {{row.price}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="ratings">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ratings </th>
                    <td mat-cell *matCellDef="let row"> {{row.ratings || 0}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row" style="display: flex; align-items: center;">
                        <button class="edit" (click)="openDialog(row)">Edit</button>
                        <button class="delete" (click)="deleteProduct(row)">Delete</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>


    </div>
    <div class="spinner" *ngIf="productsLoader" style="position: absolute; display: flex; justify-content: center; align-items: center; width: 100%;z-index: 1;top: 50%;">
        <mat-spinner [diameter]="70"></mat-spinner>
      </div>
</div>

