<div class="main-container">
  <div class="relax-collection white">
    <span>RELAX COLLECTION</span>
    <h1>YOUR PERFECT SOUND</h1>
    <span class="desp">
      Headphones are a pair of small loudspeaker drivers worn on or around the head over a 
      user's ears. They are electroacoustic transducers, which convert an electrical signal
      to a corresponding sound.
    </span>
    <button (click)="learnMore()">LEARN MORE</button>
  </div>
  <div class="street-collection white">
    <span>STREET COLLECTION</span>
    <h1>NOISE IS NOT A PROBLEM</h1>
    <span class="desp">
      Collections are a pair of large speakers drivers worn on or around the head over a 
      user's ears. They are electroacoustic , which convert an electrical signal
      to a corresponding sound.
    </span>
    <button (click)="learnMore()">LEARN MORE</button>
  </div>
</div>
